/dts-v1/;

#include "socfpga_arria10.dtsi"

/ {
	model = "Mercury+ AA1";
	compatible = "altr,socfpga-arria10", "altr,socfpga";

	aliases {
		serial0 = &uart1;
	};

	chosen {
		bootargs = "earlyprintk";
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		name = "memory";
		device_type = "memory";
		reg = <0x0 0x80000000>; /* 2GB */
	};
};

&osc1 {
	clock-frequency = <33000000>;
};

&i2c1 {
	status = "okay";
	clock-frequency = <100000>;

	atsha204a: atsha204a@64 {
		status = "okay";
		compatible = "atmel,atsha204a";
		reg = <0x64>;
	};
};

&mmc {
	status = "okay";
	broken-cd;
	bus-width = <4>;
	cap-sd-highspeed;
	max-frequency = <24000000>;
};

&qspi {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&watchdog1 {
	status = "okay";
};

&gmac0 {
	status = "okay";
	/delete-property/ mac-address;
	phy-mode = "rgmii";
	phy-addr = <3>;
	phy-handle = <&phy3>;

	mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";

		phy3: ethernet-phy@3 {
			reg = <3>;
			rxd0-skew-ps = <420>;
			rxd1-skew-ps = <420>;
			rxd2-skew-ps = <420>;
			rxd3-skew-ps = <420>;
			rxdv-skew-ps = <420>;

			txd0-skew-ps = <420>;
			txd1-skew-ps = <420>;
			txd2-skew-ps = <420>;
			txd3-skew-ps = <420>;
			txen-skew-ps = <420>;

			rxc-skew-ps = <1680>;
			txc-skew-ps = <900>;
		};
	};
};

